{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
